@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  gap: 40px;
   -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  position: relative;
  width: 340px;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  flex-direction: column;
  box-shadow: 0px 0px 10px white;
  border: 5px solid white;
  gap: 30px;
}

.container #title {
  position: absolute;
  top: 95px;
  font-size: 45px;
}

#title span {
  color: gold;
}

.img {
  width: 83px;
  border-radius: 50%;
  margin: 5px;
  border: 3px solid gold;
  cursor: pointer;
  transition: all 0.2s;
}

.img:hover {
  opacity: 0.4;
}

.img:active {
  transform: scale(0.9);
}

.name {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#username {
  width: 100%;
  padding: 15px;
  border-radius: 15px;
  border: none;
  background-color: transparent;
  border: 3px solid white;
  outline: none;
  color: white;
  transition: all 0.2s;
}

#username:hover {
  box-shadow: 0px 0px 8px gold;
}

.avatar {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#btn {
  padding: 12px 90px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  outline: none;
  position: absolute;
  bottom: 72px;
  font-weight: bolder;
  font-size: 15px;
  background-color: gold;
  transition: all 0.1s linear;
}

#btn:hover {
  background-color: goldenrod;
}

#btn:active {
  transform: scale(0.9);
}

#credit {
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  padding: 15px 55px 5px 55px;
  position: absolute;
  bottom: 10px;
}

#image {
  position: absolute;
  width: 95px;
  border-radius: 50%;
  border: 3px solid gold;
  transition: all 0.2s;
  top: 160px;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  padding: 12px 90px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bolder;
  font-size: 15px;
  background-color: gold;
  transition: all 0.1s linear;
}

.move {
  width: 100%;
  position: absolute;
  top: 20px;
  font-size: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 180px;
}

.move i {
  cursor: pointer;
}

#para {
  position: absolute;
  top: 270px;
  font-size: 22px;
}

.level {
  position: absolute;
  bottom: 128px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#wel {
  position: absolute;
  top: 80px;
}

.btn:hover {
  background-color: goldenrod;
}

.btn:active {
  transform: scale(0.9);
}

#hard {
  border-bottom: 5px solid gold;
  padding: 3px 21px;
}

.ques {
  margin-bottom: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 15px;
  color: gold;
}

.opt {
  width: 280px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 15px;
  font-size: 10.5px;
  border-radius: 6px;
  background-color: white;
  color: rgb(66, 64, 64);
  cursor: pointer;
  transition: all 0.2s;
}

.opt:active {
  transform: scale(0.9);
}

#curr {
  color: gold;
}

.change {
  background-color: greenyellow;
}

#timer {
  position: absolute;
  top: 80px;
  left: 13px;
  border: 1px solid;
  padding: 5px 13px;
  border-radius: 8px;
  font-size: 11px;
}

#certificate {
  margin-bottom: 50px;
  background-color: wheat;
}

.result {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #091f42;
  font-weight: bolder;
  gap: 13px;
  top: 230px;
  /* background-color: rgb(255, 2, 2); */
}
.result > section {
  position: absolute;
  top: -95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result > section > h1 {
  font-size: 34px;
}

.result > h2 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 25px;
}

#score {
  font-size: 35px;
}

#date {
  border-top: 2px solid;
  padding: 5px 40px;
}

.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.result > h4 {
  background-color: #091f42;
  color: wheat;
  padding: 4px 17px;
  border-radius: 15px 0px;
}

#mark {
  position: absolute;
  rotate: -45deg;
  width: 340px;
  top: 40px;
  font-size: 35px;
  bottom: 300px;
  opacity: 0.15;
  color: #091f42;
}

.certificate {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bx {
  background-color: gold;
  border-radius: 50%;
  color: #000;
}

#logout {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  border: 3px solid gold;
  outline: none;
  position: absolute;
  bottom: 65px;
  font-weight: bolder;
  font-size: 15px;
  background-color: black;
  color: gold;
  transition: all 0.1s linear;
}

.opt.clicked {
  transform: none !important;
}

.opt.hover-effect:hover {
  background-color: greenyellow;
}
